# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# Environment variables and secrets
.env

# Node.js
node_modules/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

*.pyc
.env
.streamlit/secrets.toml

backend/.env
backend/venv/
__pycache__/
*.pyc